.footer {
    background-color: black;
    height: 209px;

    &__logo {
        display: flex;
        margin: auto;
        width: 122px;
        height: 40px;
        padding-top: 66px;
    }

    &__copyright {
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 29px;
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}