.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
    // @media (min-width: 375px) {
    //     margin: 20px;
    // }

    &__logo {
        width: 210px;
        height: 68px;
        @media(min-width: 375px){
            width: 145px;
            height: 47px;
        }
    }

    &__list {
        display: flex;
        gap: 57px;
        @media(min-width: 375px){
            gap: 26px;
        }
        a {
            color: #FF6060;   // -> $primary-color
        }
    }
}