.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 139px;
    margin: 110px 0;
}

.error > *{
    color: $primary-color;
}

.error a {
    text-decoration: underline;
    cursor: pointer;
}