.banner {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    align-items: center;


    img {
        height: 223px;
        width: 86%;
        object-fit: cover;
    }

    @media (max-width: 375px) {
        margin: 20px;
    }

    &__motto {
        color: white;
        font-size: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
    }
}