.collapse {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-width: 1023px;
    margin: 40px auto 0;
    min-height: 52px;
    overflow: hidden;

    @media (max-width : 768px) {
        margin: 20px;
        min-height: 32px;
    }

    &__title {
        color: white;
        background-color: $primary-color;
        border-radius: 5px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        
        @media (max-width : 768px) {
            height: 32px;
            padding: 0 10px;
        }

        > h3 {
            font-weight: 500;
            margin-top: 5px;

            @media (max-width : 768px) {
                font-size: 13px;
                align-self: center;
            }
        }
    }

    &__arrow {
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform 300ms ease-in-out;
    }

    .arrow_down {
        cursor: pointer;
        transform: rotate(-180deg);
        transition: transform 300ms ease-in-out;
                
        @media (max-width : 768px) {
            height: 20px;
            margin-top: 5px;
        }
    }

    .arrow_up {
        cursor: pointer;
        transform: rotate(0deg);
        transition: transform 300ms ease-in-out;
                
        @media (max-width : 768px) {
            height: 20px;
            margin-top: 5px;
        }
    }

    &__text {
        color: $primary-color;
        background-color: $secondary-color;
        padding: 20px 20px;
        
        @media (max-width : 768px) {
            font-size: 12px;
            transition: all 500ms ease-in-out;
        }
    }

    &__displayed__text {
        z-index: -1;
        transition: all 400ms ease-in-out;
        font-size: 20px;
    }

    &__hiddenText {
        opacity: 0;
        margin-top: -80px;
        z-index: -1;
        transition: all 400ms ease-in-out;
        
        @media (max-width : 768px) {
            margin-top: -130px;
            transition: all 500ms ease-in-out;
        }
    }

    &__accomodation {
        display: flex;
        gap: 76px;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 0;
            }

        > .collapse {
            width: 50%;
            margin: 0;

            @media (max-width: 768px) {
                margin: auto;
                width: 100%;
                margin-bottom: 20px;

            }
        }     
    }
}